{{ define "main" }}
<div>
    {{ $posts := where .Site.RegularPages "Type" "in" (slice "post") }}
    {{ range $posts }}
      {{ .Date.Format $.Site.Params.time_format_default }}
      <h2>{{ .Title }}</h2>
      {{ with .Params.excerpt }}
      {{ . | markdownify }}
      {{ else }}
      {{ .Summary }}
      {{ end }}
      <br>
      <a href="{{ .RelPermalink }}">{{ i18n "read_more" }}</a><br>
      <br>
    {{ end }}
  {{ with .Site.Home.OutputFormats.Get "RSS" -}}
  <p>{{ i18n "subscribe_rss" . | safeHTML }}</p>
  {{ end  }}
</div>
{{ end }}
