<!DOCTYPE html>
<html>
  {{ partial "head.html" . }} {{ partial "header.html" . }} {{ if not .Params.nohero }}{{ partial "hero.html" . }}{{ end }} {{ with .File }} {{ if eq .Ext "md" }}{{ partial "md-top-context.html" . }}{{ end }} {{ end }} {{ block "main" . }}{{ end }} {{ if .Page.Params.should_display_prominent_newsletter_form }}
  <div class="opt-in-container container">{{ partial "newsletter-form" . }}</div>
  {{ end }} {{ with .File }} {{ if eq .Ext "md" }}{{ partial "md-bot-context.html" . }}{{ end }} {{ end }} {{ partial "footer.html" . }}
</html>
