<div id="isrg-projects-column">
  <section class="slice delimiter-top">
    <div class="container">
      <h2 class="eyebrow-text">ISRG Projects</h2>
      <div class="row row-grid align-items-center">
        {{ partial "isrg/isrg-project-group-single.html" (dict "title" "Free TLS Certificates" "url" "https://letsencrypt.org/" "target" "_blank" "image" "/images/LE-Logo-Standard.svg" "description" "Let's Encrypt is a free, automated, and open Certificate Authority. More than 450 million websites around the world use Let's Encrypt certificates to provide security and privacy to their visitors." "buttonText" "Visit Let's Encrypt") }}
        {{ partial "isrg/isrg-project-group-single.html" (dict "title" "Memory Safety for Critical Infrastructure" "url" "https://memorysafety.org/" "target" "_blank" "image" "/images/trademarks/prossimo/Prossimo%20Horizontal%20Full%20Color.svg" "description" "Prossimo is an effort to move the Internet's security-sensitive software infrastructure to memory safe code. We provide strategic planning, facilitation, and communication to bring memory safety to high impact projects." "buttonText" "Visit Prossimo") }}
        {{ partial "isrg/isrg-project-group-single.html" (dict "title" "Privacy-respecting Application Metrics" "url" "/divviup/" "target" "" "image" "/images/divviup/Divvi-Up-Large-Full-Color-Logo.png" "description" "Divvi Up is a privacy-respecting system for the collection of aggregate statistics such as application metrics. With Divvi Up, it's possible to technically enforce the promises of a privacy policy while still getting the valuable aggregate insights app makers need." "buttonText" "Visit Divvi Up") }}
      </div>
    </div>
  </section>
</div>
