{{ $quote := . }}
<div class="endorsement-card">
  <div class="endorsement-header row align-items-center">
    <div class="col-md-5"><img class="endorsement-img" src="/images/tenth-anniversary/headshots/{{ $quote.image }}" alt="{{ $quote.name }}" /></div>
    <div class="col-md-7">
      <div class="endorsement-element">&ldquo;</div>
      <p class="endorsement-text">{{ $quote.text }}&rdquo;</p>
      <div class="d-flex pb-4">
        <div>&mdash;&nbsp;</div>
        <div>
          <div class="endorsement-author">{{ $quote.name }}</div>
          <div class="endorsement-title">{{ $quote.title | safeHTML }}</div>
        </div>
      </div>
    </div>
  </div>
</div>
