    </main>
    <footer class="footer py-5" data-separator="rounded-right" data-separator-orientation="top">
        <div class="container mt-4">
            <div class="row row-grid">
                <div id="footer-copyright-column" class="col-12 col-md-6 col-lg-6 align-items-start">
                    <div class="">
                        <span class="d-block">
                        <div class="mb-2"><a href="/privacy-policy/">Privacy Policy</a> | <a href="/trademarks/">Trademark Policy</a><br></div>
                        <div class="mb-2">{{ .Site.Params.copyrighthtml | safeHTML}}</div>
                        <div class="mb-2">{{ .Site.Params.address}}</div>
                        <p> {{ i18n "footer_mailing" }}
                            <span itemscope itemtype="http://schema.org/PostalAddress">
                            <span itemprop="streetAddress">PO Box 18666</span>,
                            <span itemprop="addressLocality">Minneapolis</span>,
                            <span itemprop="addressRegion">MN</span>
                            <span itemprop="postalCode">55418-0666</span>,
                            <span itemprop="addressCountry">USA</span>
                            </span>
                        </p>
                        </span>
                    </div>
                </div>
                <!-- <div id="footer-newsletter-column" class="col-12 col-md-6 col-lg-6">
                    <h6 class="font-weight-bold">Subscribe to our Newsletter</h6>
                    <iframe src="https://outreach.abetterinternet.org/l/1011011/2023-02-15/6gct" width="100%" height="200" type="text/html" frameborder="0" allowTransparency="true" style="border: 0"></iframe>
                </div> -->
            </div>
        </div>
    </footer>
    <script src="/purpose-theme/libs/jquery/dist/jquery.min.js"></script>
    <script src="/purpose-theme/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/purpose-theme/libs/@fancyapps/fancybox/dist/jquery.fancybox.min.js"></script>
    <script src="/purpose-theme/js/purpose.js"></script>
</body>