    </main>
    <footer class="footer py-5 bg-secondary" data-separator="rounded-right" data-separator-orientation="top">
        <div class="container">
            <div class="align-items-center">
                <div class="text-center">
                    <span class="d-block mt-4">
                    <a href="/privacy-policy/">Privacy Policy</a> | <a href="/trademarks/">Trademark Policy</a><br>
                    {{ .Site.Params.copyrighthtml | safeHTML}}<br>
                    {{ .Site.Params.address}}<br>
                    <p> {{ i18n "footer_mailing" }}
                        <span itemscope itemtype="http://schema.org/PostalAddress">
                          <span itemprop="streetAddress">PO Box 18666</span>,
                          <span itemprop="addressLocality">Minneapolis</span>,
                          <span itemprop="addressRegion">MN</span>
                          <span itemprop="postalCode">55418-0666</span>,
                          <span itemprop="addressCountry">USA</span>
                        </span>
                      </p>
                    </span>
                </div>
            </div>
        </div>
    </footer>
    <script src="/purpose-theme/libs/jquery/dist/jquery.min.js"></script>
    <script src="/purpose-theme/libs/bootstrap/dist/js/bootstrap.min.js"></script>
    <script src="/purpose-theme/libs/@fancyapps/fancybox/dist/jquery.fancybox.min.js"></script>
    <script src="/purpose-theme/js/purpose.js"></script>
</body>
