<body>
  <header class="header-transparent">
    <nav class="navbar navbar-expand-lg navbar-dark bg-secondary py-3" id="navbar-main">
      <div class="container">
        <a class="navbar-brand mr-lg-5" href="/"><img src="/images/ISRG-Logo-Blue.svg" alt="ISRG Logo" style="width: 160px; padding: 0px" /></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main-collapse" aria-controls="navbar-main" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar-main-collapse">
          <ul class="navbar-nav align-items-lg-center">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">About Us</a>
              <div class="dropdown-menu dropdown-menu-lg py-0">
                <div class="list-group list-group-flush">
                  <a href="/about/" class="list-group-item list-group-item-action">
                    <div class="media d-flex align-items-center">
                      <div class="media-body ml-3">
                        <h2 class="heading h6 mb-1">About ISRG</h2>
                      </div>
                    </div>
                  </a>
                  <a href="/policies/" class="list-group-item list-group-item-action">
                    <div class="media d-flex align-items-center">
                      <div class="media-body ml-3">
                        <h2 class="heading h6 mb-1">Policies</h2>
                      </div>
                    </div>
                  </a>
                  <a href="/careers/" class="list-group-item list-group-item-action">
                    <div class="media d-flex align-items-center">
                      <div class="media-body ml-3">
                        <h2 class="heading h6 mb-1">Careers</h2>
                      </div>
                    </div>
                  </a>
                  <a href="/contact/" class="list-group-item list-group-item-action">
                    <div class="media d-flex align-items-center">
                      <div class="media-body ml-3">
                        <h2 class="heading h6 mb-1">Contact</h2>
                      </div>
                    </div>
                  </a>
                  <a href="/annual-reports/" class="list-group-item list-group-item-action">
                    <div class="media d-flex align-items-center">
                      <div class="media-body ml-3">
                        <h2 class="heading h6 mb-1">Annual Reports</h2>
                      </div>
                    </div>
                  </a>
                  <a href="/radiantaward/" class="list-group-item list-group-item-action">
                    <div class="media d-flex align-items-center">
                      <div class="media-body ml-3">
                        <h2 class="heading h6 mb-1">Radiant Award</h2>
                      </div>
                    </div>
                  </a>
                  <a href="/tenth-anniversary/" class="list-group-item list-group-item-action">
                    <div class="media d-flex align-items-center">
                      <div class="media-body ml-3">
                        <h2 class="heading h6 mb-1">Celebrating 10 Years</h2>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </li>
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Projects</a>
              <div class="dropdown-menu dropdown-menu-lg py-0">
                <div class="list-group list-group-flush">
                  <a href="https://letsencrypt.org/" target="_blank" class="list-group-item list-group-item-action">
                    <div class="media d-flex align-items-center">
                      <div class="media-body ml-3">
                        <h2 class="heading h6 mb-1">Let's Encrypt</h2>
                      </div>
                    </div>
                  </a>
                  <a href="https://www.memorysafety.org/" target="_blank" class="list-group-item list-group-item-action">
                    <div class="media d-flex align-items-center">
                      <div class="media-body ml-3">
                        <h2 class="heading h6 mb-1">Prossimo</h2>
                      </div>
                    </div>
                  </a>
                  <a href="https://divviup.org/" class="list-group-item list-group-item-action">
                    <div class="media d-flex align-items-center">
                      <div class="media-body ml-3">
                        <h2 class="heading h6 mb-1">Divvi Up</h2>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/blog/">Blog</a>
            </li>
          </ul>
          <ul class="navbar-nav align-items-lg-center ml-lg-auto">
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contribute</a>
              <div class="dropdown-menu dropdown-menu-lg py-0">
                <div class="list-group list-group-flush">
                  <a href="/sponsors/" class="list-group-item list-group-item-action">
                    <div class="media d-flex align-items-center">
                      <div class="media-body ml-3">
                        <h2 class="heading h6 mb-1">Current Sponsors and Donors</h2>
                      </div>
                    </div>
                  </a>
                  <a href="/sponsor/" class="list-group-item list-group-item-action">
                    <div class="media d-flex align-items-center">
                      <div class="media-body ml-3">
                        <h2 class="heading h6 mb-1">Become a Sponsor</h2>
                      </div>
                    </div>
                  </a>
                  <a href="/getinvolved/" class="list-group-item list-group-item-action">
                    <div class="media d-flex align-items-center">
                      <div class="media-body ml-3">
                        <h2 class="heading h6 mb-1">Get Involved</h2>
                      </div>
                    </div>
                  </a>
                </div>
              </div>
            </li>
            <li class="nav-item mr-0">
              <a href="/donate/" class="nav-link d-lg-none">Donate now</a>
              <a href="/donate/" class="btn btn-sm btn-primary btn-circle btn-icon d-none d-lg-inline-flex">
                <span class="btn-inner--text">Donate now</span>
              </a>
            </li>
          </ul>
        </div>
      </div>
    </nav>
  </header>
  <main></main>
</body>
