<body>
    <header class="header-transparent">
        <nav class="navbar navbar-expand-lg navbar-dark bg-secondary py-3" id="navbar-main">
            <div class="container">
                <a class="navbar-brand mr-lg-5" href="/"><img src="/images/ISRG-Logo-Blue.svg" style="width: 160px; padding: 0px;"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbar-main-collapse" aria-controls="navbar-main" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar-main-collapse">
                    <ul class="navbar-nav align-items-lg-center">
                        <li class="nav-item ">
                            <a class="nav-link" href="/about/">About Us</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/blog/">Blog</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/careers/">Careers</a>
                        </li>
                        <li class="nav-item ">
                            <a class="nav-link" href="/contact/">Contact</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav align-items-lg-center ml-lg-auto">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Contribute</a>
                            <div class="dropdown-menu dropdown-menu-lg py-0">
                                <div class="list-group list-group-flush">
                                    <a href="/sponsors/" class="list-group-item list-group-item-action">
                                        <div class="media d-flex align-items-center">
                                            <div class="media-body ml-3">
                                                <h2 class="heading h6 mb-1">Current Sponsors and Donors</h2>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="/sponsor/" class="list-group-item list-group-item-action">
                                        <div class="media d-flex align-items-center">
                                            <div class="media-body ml-3">
                                                <h2 class="heading h6 mb-1">Become a Sponsor</h2>
                                            </div>
                                        </div>
                                    </a>
                                    <a href="/getinvolved/" class="list-group-item list-group-item-action">
                                        <div class="media d-flex align-items-center">
                                            <div class="media-body ml-3">
                                                <h2 class="heading h6 mb-1">Get Involved</h2>
                                            </div>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </li>
                        <li class="nav-item mr-0">
                            <a href="/donate/" class="nav-link d-lg-none">Donate now</a>
                            <a href="/donate/" class="btn btn-sm btn-primary btn-circle btn-icon d-none d-lg-inline-flex">
                                <span class="btn-inner--text">Donate now</span>
                            </a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <main>
