<!DOCTYPE html>
<html>
  {{ partial "head.html" . }} {{ partial "header.html" . }}
  <section class="slice slice-isrg bg-cover bg-size--cover overflow-hidden" data-spotlight="fullscreen" data-separator="rounded-left" data-separator-orientation="bottom">
    <span class="mask bg-gradient-secondary opacity-8"></span>
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div class="pt-lg-md pb-lg-md">
            <h1 id="page-title" class="heading display-4 font-weight-300 lh-110 mb-4">InspiringGroup</h1>
            <p class="lead lh-180">
              The InspiringGroup is a dynamic research group here @ <a href="https://www.insc.tsinghua.edu.cn/">Tsinghua University INSC</a>. We have worked on a wide range of topics centering around data. We build secure and efficient underlying systems infrastructure to support data transmissions and computations. Meanwhile, we create various data-centric applications with special interests on data security and privacy.
            </p>
            <div class="mt-5">
              <a href="/research/" class="btn btn-primary btn-sm btn-circle btn-translate--hover mr-2 mt-2">Research</a>
              <a href="/join/" class="btn btn-primary btn-sm btn-circle btn-translate--hover mr-2 mt-2">Join us</a>
            </div>
          </div>
        </div>
        <div class="col-lg-5 homepage-logos-column">
          <div class="pt-lg-md pb-lg-md">
            <div>
              <a href="https://www.tsinghua.edu.cn/en/"><img src="/images/tsinghua.png" /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="slice">
    <div class="container">
      <h2 class="eyebrow-text"><a href="/blog">Latest Blogs</a></h2>
      {{ $posts := where .Site.RegularPages "Type" "in" (slice "post") | first 3 }} {{ range $posts }}
      <div class="row row-grid">
        <div class="col-md-12 col-lg-12">
          <h2 class="heading h2">{{ .Title }}</h2>
          <p>{{ with .Params.excerpt }} {{ . | markdownify }} {{ else }} {{ .Summary }} {{ end }}</p>
          {{ if .Params.has_more }}
            <a href="{{ .Permalink }}" class="link font-weight-bold" data-link="1">{{ i18n "read_more" }}</a>
          {{ end }}
        </div>
      </div>
      {{ end }}
    </div>
  </section>

  {{ partial "projects/projects-column.html" }}

  <section class="slice delimiter-top">
    <div class="container">
      <h2 class="eyebrow-text"><a href="/sponsors">Current and Past Affiliations</a></h2>
    </div>

    <div class="container">
      <div class="row blurable-item align-items-center grid-cols-7">
        <div class="grid-col">
          <div class="px-4 py-4">
            <img src="/images/sponsors/mozilla-logo.png" class="img-fluid img-grayscale" />
          </div>
        </div>
        <div class="grid-col">
          <div class="px-4 py-4">
            <img src="/images/sponsors/cisco-logo.png" class="img-fluid img-grayscale" />
          </div>
        </div>
        <div class="grid-col">
          <div class="px-4 py-4">
            <img src="/images/sponsors/eff-logo.png" class="img-fluid img-grayscale" />
          </div>
        </div>
        <div class="grid-col">
          <div class="px-4 py-4">
            <img src="/images/sponsors/sovereign-tech-fund-logo.webp" class="img-fluid img-grayscale" />
          </div>
        </div>
        <div class="grid-col">
          <div class="px-4 py-4">
            <img src="/images/sponsors/ovh-logo.png" class="img-fluid img-grayscale" />
          </div>
        </div>
        <div class="grid-col d-flex align-items-center">
          <div class="px-4 py-4">
            <img src="/images/sponsors/google-logo.png" class="img-fluid img-grayscale" />
          </div>
        </div>
        <div class="grid-col">
          <div class="px-4 py-4">
            <img src="/images/sponsors/open-technology-fund-logo.png" class="img-fluid img-grayscale" />
          </div>
        </div>
      </div>
    </div>
  </section>
  {{ partial "footer.html" . }}
</html>
