<!DOCTYPE html>
<html>
{{ partial "head.html" . }}
    {{ partial "header.html" . }}
        <section class="slice slice-lg bg-cover bg-size--cover overflow-hidden" data-spotlight="fullscreen" data-separator="rounded-left" data-separator-orientation="bottom" style="background-image: url(/images/Looking-At-Cellphone.jpg);">
            <span class="mask bg-gradient-secondary alpha-8"></span>
            <div class="container">
                <div class="row">
                    <div class="col-lg-6">
                        <div class="pt-lg-lg pb-lg-md">
                            <h2 class="heading display-4 font-weight-300 lh-110 mb-4">Internet Security Research Group</h2>
                            <p class="lead lh-180">Creating a better Internet, with a focus on privacy and security.</p>
                            <div class="mt-5">
                                <a href="/about/" class="btn btn-primary btn-circle btn-translate--hover mr-4">Learn more about us</a>
                                <a href="/sponsor/" class="btn btn-primary btn-circle btn-translate--hover mr-4">Become a sponsor</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="slice slice-lg">
            <div class="container">
                <div class="row row-grid align-items-center">
                    <div class="col-md-6 col-lg-6 order-lg-2 order-md-2 ml-lg-auto">
                        <img src="/images/LE-Logo-Standard.svg" style="width: 100%;" class="img-center img-fluid">
                    </div>
                    <div class="col-md-6 col-lg-6 order-lg-1 order-md-1">
                        <div class="pr-md-4">
                            <h3 class="heading h3">Our First Project</h3>
                            <p class="lead text-gray my-4">Let's Encrypt is a free, automated, and open Certificate
                            Authority.</p>
                            <a href="https://letsencrypt.org/" target="_blank" class="link font-weight-bold" data-link="1">Find out more</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="slice slice-lg bg-secondary">
            <div class="container">
                <div class="row justify-content-center align-items-center">
                    <div class="col-lg-7 text-center">
                        <h3 class="h1">Invest in a better Internet.</h3>
                        <p class="lead">Help us build a more secure and privacy-respecting Internet.</p>
                        <div class="mt-5">
                            <a href="https://letsencrypt.org/donate/" target="_blank" class="btn btn-lg btn-primary btn-circle px-4">Donate now</a>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <section class="slice slice-lg delimiter-top">
            <div class="container"> 
                <div class="blurable--hover">
                    <a href="/sponsors/">
                        <div class="row blurable-item">
                            <div class="col-lg-2 col-md-3 col-4 mb-4 mb-md-0">
                                <div class="px-4 py-4">
                                    <img src="/images/sponsors/mozilla-logo.png" class="img-fluid img-grayscale">
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-3 col-4 mb-4 mb-md-0">
                                <div class="px-4 py-4">
                                    <img src="/images/sponsors/akamai-logo.png" class="img-fluid img-grayscale">
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-3 col-4 mb-4 mb-md-0">
                                <div class="px-4 py-4">
                                    <img src="/images/sponsors/cisco-logo.png" class="img-fluid img-grayscale">
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-3 col-4 mb-4 mb-md-0">
                                <div class="px-4 py-4">
                                    <img src="/images/sponsors/eff-logo.png" class="img-fluid img-grayscale">
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-3 col-4 mb-4 mb-md-0">
                                <div class="px-4 py-4">
                                    <img src="/images/sponsors/ovh-logo.png" class="img-fluid img-grayscale">
                                </div>
                            </div>
                            <div class="col-lg-2 col-md-3 col-4 mb-4 mb-md-0">
                                <div class="px-4 py-4">
                                    <img src="/images/sponsors/chrome-logo.png" class="img-fluid img-grayscale">
                                </div>
                            </div>
                        </div>
                        <span class="blurable-hidden btn btn-sm btn-primary btn-circle">See all sponsors</span>
                    </a>
                </div>
            </div>
        </section>
    {{ partial "footer.html" . }}
</html>
