<!DOCTYPE html>
<html>
  {{ partial "head.html" . }} {{ partial "header.html" . }}
  <section class="slice slice-isrg bg-cover bg-size--cover overflow-hidden" data-spotlight="fullscreen" data-separator="rounded-left" data-separator-orientation="bottom">
    <span class="mask bg-gradient-secondary opacity-8"></span>
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <div class="pt-lg-md pb-lg-md">
            <h1 id="page-title" class="heading display-4 font-weight-300 lh-110 mb-4">Internet Security Research Group</h1>
            <p class="lead lh-180">Digital infrastructure for a more secure and privacy-respecting world. Read all about our nonprofit work this year in our <a href="/annual-reports/">2022 Annual Report</a>.</p>
            <div class="mt-5">
              <a href="/about/" class="btn btn-primary btn-sm btn-circle btn-translate--hover mr-2 mt-2">Learn about ISRG</a>
              <a href="/sponsor/" class="btn btn-primary btn-sm btn-circle btn-translate--hover mr-2 mt-2">Become a sponsor</a>
            </div>
          </div>
        </div>
        <div class="col-lg-5 homepage-logos-column">
          <div class="pt-lg-md pb-lg-md">
            <div>
              <a href="https://letsencrypt.org"><img src="/images/LE-Logo-Standard.svg" /></a>
            </div>
            <div>
              <a href="https://memorysafety.org"><img src="/images/trademarks/prossimo/Prossimo%20Horizontal%20Full%20Color.svg" /></a>
            </div>
            <div>
              <a href="https://divviup.org"><img src="/images/divviup/Divvi-Up-Large-Full-Color-Logo.png" /></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <section class="slice">
    <div class="container">
      <h2 class="eyebrow-text"><a href="/blog">From our Blog</a></h2>
      {{ $posts := where .Site.RegularPages "Type" "in" (slice "post") | first 3 }} {{ range $posts }}
      <div class="row row-grid">
        <div class="col-md-12 col-lg-12">
          <h2 class="heading h2">{{ .Title }}</h2>
          <p>{{ with .Params.excerpt }} {{ . | markdownify }} {{ else }} {{ .Summary }} {{ end }}</p>
          <a href="{{ .Permalink }}" class="link font-weight-bold" data-link="1">{{ i18n "read_more" }}</a>
        </div>
      </div>
      {{ end }}
    </div>
  </section>

  {{ partial "isrg/isrg-projects-column.html" }}

  <section class="slice delimiter-top">
    <div class="container">
      <h2 class="eyebrow-text"><a href="/sponsors">Our Sponsors</a></h2>
    </div>

    <div class="container">
      <div class="blurable--hover">
        <a href="/sponsors/">
          <div class="row blurable-item">
            <div class="col-lg-2 col-md-3 col-4 mb-4 mb-md-0">
              <div class="px-4 py-4">
                <img src="/images/sponsors/mozilla-logo.png" class="img-fluid img-grayscale" />
              </div>
            </div>
            <div class="col-lg-2 col-md-3 col-4 mb-4 mb-md-0">
              <div class="px-4 py-4">
                <img src="/images/sponsors/cisco-logo.png" class="img-fluid img-grayscale" />
              </div>
            </div>
            <div class="col-lg-2 col-md-3 col-4 mb-4 mb-md-0">
              <div class="px-4 py-4">
                <img src="/images/sponsors/eff-logo.png" class="img-fluid img-grayscale" />
              </div>
            </div>
            <div class="col-lg-2 col-md-3 col-4 mb-4 mb-md-0">
              <div class="px-4 py-4">
                <img src="/images/sponsors/meta-logo.png" class="img-fluid img-grayscale" />
              </div>
            </div>
            <div class="col-lg-2 col-md-3 col-4 mb-4 mb-md-0">
              <div class="px-4 py-4">
                <img src="/images/sponsors/ovh-logo.png" class="img-fluid img-grayscale" />
              </div>
            </div>
            <div class="col-lg-2 col-md-3 col-4 mb-4 mb-md-0 d-flex align-items-center">
              <div class="px-4 py-4">
                <img src="/images/sponsors/google-logo.png" class="img-fluid img-grayscale" />
              </div>
            </div>
          </div>
          <span class="blurable-hidden btn btn-sm btn-primary btn-circle">See all sponsors</span>
        </a>
      </div>
    </div>
  </section>
  {{ partial "footer.html" . }}
</html>
