.sponsors-convert-to-grayscale .sponsor-group {
  justify-content: center;
}
.sponsors-convert-to-grayscale .sponsor-item {
  padding: 0 15px !important;
  display: block;
  margin-bottom: 1.5rem !important;
}
.sponsors-convert-to-grayscale img {
  filter: grayscale(1);
  padding: 1rem;
}
.first-sentence {
  font-size: 130%;
  display: block;
  margin-bottom: 10px;

  /* font-weight: bold; */
}

.attribution {
  font-weight: bold;
}

.btn-long {
  white-space: break-spaces;
}

@media screen and (max-width: 767.98px) {
  .has-fireworks-gif {
    padding-top: 0;
  }
  .carousel-control-next {
    right: -15px;
  }
  .carousel-control-prev {
    left: -15px;
  }
}

.endorsement-img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  max-width: 80%;
  margin: 0 auto;
  display: block;
  margin-bottom: 20px;
}

.carousel-indicators {
  bottom: 5px;
}

.endorsement-element {
  background-image: url(/images/tenth-anniversary/quote-endorsement-glyph.png);
  width: 34px;
  height: 24px;
  color: transparent;
  margin-bottom: 20px;
}

.bg-light-blue {
  background-color: rgb(218, 229, 231) !important;
  /* background-color: rgb(228,245,244) !important; */
}

.bg-dark-blue {
  background-color: #3771c8 !important;
  color: #fff;
}

.bg-white {
  color: #000;
}

.bg-light-blue section {
  background-color: transparent !important;
}
#carouselISRGHistory .row {
  align-items: center;
}
#carouselISRGHistory {
  padding-bottom: 40px;
}
#carouselISRGHistory-wrapper {
  color: #3771c8;
}
#carouselISRGHistory .carousel-control-prev,
.carousel-control-next {
  width: 22px;
}

#carouselISRGHistory .carousel-item .row {
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 767.99px) {
  #carouselISRGHistory .carousel-item {
    padding-left: 40px;
    padding-right: 40px;
  }
}

#carouselISRGHistory .milestone {
  padding: 1.5rem;
}

#carouselISRGHistory .milestone-title {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1.5;
  color: #3771c8;
}

#carouselISRGHistory .milestone-text {
  font-size: 18px;
  font-weight: 400;
  line-height: 1.5;
}

#carouselISRGHistory .milestone-img {
  width: 100%;
  height: 100%;
  object-fit: contain;
  max-height: 500px;
}

.carousel-control-prev-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%233771c8'%3e%3cpath d='M11.354 1.646a.5.5 0 0 1 0 .708L5.707 8l5.647 5.646a.5.5 0 0 1-.708.708l-6-6a.5.5 0 0 1 0-.708l6-6a.5.5 0 0 1 .708 0z'/%3e%3c/svg%3e");
}
.carousel-control-next-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' fill='%233771c8'%3e%3cpath d='M4.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L10.293 8 4.646 2.354a.5.5 0 0 1 0-.708z'/%3e%3c/svg%3e");
}

#tenth-anniversary-quotes-section {
  background-color: rgb(237, 238, 241) !important;
  padding-bottom: 0;
}
.carousel-for-quotes {
  padding-bottom: 40px;
}
.carousel-for-quotes .carousel-control-prev,
.carousel-control-next {
  width: 22px;
}

.carousel-for-quotes .carousel-item {
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 767.99px) {
  .carousel-for-quotes .carousel-item {
    padding-left: 40px;
    padding-right: 40px;
  }
}

.carousel-for-quotes .quote-card {
  padding: 1.5rem;
  box-shadow: 0 0.75rem 1.5rem rgba(18, 38, 63, 0.03);
  border: 1px solid #eff2f7;
  border-radius: 0.375rem;
  background-color: #fff;
}
.carousel-for-quotes .quote-header {
  display: flex;
  align-items: flex-start;
  margin-bottom: 20px;
}
.carousel-for-quotes .quote-author {
  font-weight: 600;
  line-height: 1.3;
  color: #3c4858;
}
.carousel-for-quotes .quote-title {
  font-weight: 400;
  font-size: 80%;
  color: #8492a6;
}
.carousel-for-quotes .quote-text {
  color: #8492a6;
  line-height: 1.8;
}
/* .quote-img width 50 rounded 15px margin right 15px */
.quote-img {
  width: 50px;
  height: 50px;
  border-radius: 25px;
  margin-right: 15px;
  flex-shrink: 0;
}

.carousel-indicators {
  bottom: 5px;
}

/* Responsive only above 768px */
@media screen and (min-width: 768px) {
  .dual-quote-container {
    max-width: 80%;
  }
}

.dual-quote-container:last-child {
  margin-left: auto;
}
.dual-quote-container:last-child .row {
  flex-direction: row-reverse;
}

.tenth-anniversary-sponsor-logo-container {
  height: 120px;
  margin-bottom: 15px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.tenth-anniversary-sponsor-logo-container a {
  display: block;
  width: 100%;
}

.tenth-anniversary-sponsor-logo {
  max-height: 100px;
  max-width: 100%;
}
