name: Test

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4
      - name: Setup Hugo
        uses: peaceiris/actions-hugo@v3
        with:
          # same as netlify.toml
          hugo-version: '0.148.2'
          extended: true
      - name: Build
        run: hugo -D -F -d public
      - name: Install xmllint
        run: sudo apt-get install -y libxml2-utils
      - name: Validate RSS feed
        run: xmllint --noout public/index.xml
